// Custom styles.
body,.header{
  background-color: #002337;
}
.header-inner, .sidebar-inner {
  border: 1px solid #004c72;
  background-color: #001e28;
}
//.container .main-inner {
//  width: 1200px;
//}
.menu-item a {
  color: #fff;
}
.menu-item-active a, .menu-item a:hover {
  background-color: rgba(26,100,120,0.6) !important;
  //border: 1px solid rgba(0,76,114,0.9);
  color: #1fc6ff !important;
}
@media screen and  (max-width: 767px){
  .menu-item-active a, .menu-item a:hover {
    border: none;
  }
  .posts-expand {
    margin: 0 10px;
  }
}

.menu-item a:hover {
  object.9;
}
.site-author-name ,.site-state-item-count{
  color: #fff;
}
.site-meta {
  padding: 10px 0;
  background-color: #002337;
}
.posts-expand .post-meta {
  margin: 3px 0 30px 0;
}
.posts-expand {
  padding-top: 20px;
}
.post-toc .nav-item {
  padding-left: 2rem;
}
.post-toc ol a{
  color: #ddd;
}
.sidebar-nav li {
  color: #eee;
}
.color-hs{
  color:#FFD021;
}
.color-blue{
  color:#4B5AFE;
}
.color-red{
  color:#FC5659;
}
.powered-by,.post-meta-divider,.theme-info{
  display none;
}
